In [2]:
import pandas as pd

In [3]:
# Create a reference the CSV file desired
csv_path = "budget_data.csv"

# Read the CSV into a Pandas DataFrame
budget_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [8]:
# Count how many sightings have occured within each state
month_counts = budget_df["Date"].count()
month_counts

86

In [10]:
net_profit = budget_df['Profit/Losses'].sum()
net_profit

38382578

In [15]:
average_change = net_profit / month_counts
average_change

446309.0465116279

In [18]:
budget_df['Profit/Losses'].min()

-1196225

In [21]:
net_profit.loc['avg'] = net_profit.mean()
net_profit

AttributeError: 'numpy.int64' object has no attribute 'loc'

In [33]:
budget_df["Profit/Losses"].diff()udget_df["AmtChange"] = budget_df["Profit/Losses"].diff()
AmtChange = budget_df["Profit/Losses"].diff()
GreatestIncrease = budget_df["Profit/Losses"].max()
GreatestDecrease = budget_df["Profit/Losses"].min()
AmtChange.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Profit/Losses, dtype: float64

In [32]:
inp_budget_df = pd.DataFrame(budget_df)
inp_budget_df

         Date  Profit/Losses     AmtChange
0    Jan-2010   8.678840e+05           NaN
1    Feb-2010   9.846550e+05  1.167710e+05
2    Mar-2010   3.220130e+05 -6.626420e+05
3    Apr-2010  -6.941700e+04 -3.914300e+05
4    May-2010   3.105030e+05  3.799200e+05
5    Jun-2010   5.228570e+05  2.123540e+05
6    Jul-2010   1.033096e+06  5.102390e+05
7    Aug-2010   6.048850e+05 -4.282110e+05
8    Sep-2010  -2.163860e+05 -8.212710e+05
9    Oct-2010   4.775320e+05  6.939180e+05
10   Nov-2010   8.938100e+05  4.162780e+05
11   Dec-2010  -8.035300e+04 -9.741630e+05
12   Jan-2011   7.798060e+05  8.601590e+05
13   Feb-2011  -3.352030e+05 -1.115009e+06
14   Mar-2011   6.978450e+05  1.033048e+06
15   Apr-2011   7.931630e+05  9.531800e+04
16   May-2011   4.850700e+05 -3.080930e+05
17   Jun-2011   5.841220e+05  9.905200e+04
18   Jul-2011   6.272900e+04 -5.213930e+05
19   Aug-2011   6.681790e+05  6.054500e+05
20   Sep-2011   8.999060e+05  2.317270e+05
21   Oct-2011   8.347190e+05 -6.518700e+04
22   Nov-2011   1.320030e+05 -7.027160e+05
23   Dec-2011   3.099780e+05  1.779750e+05
24   Jan-2012  -7.555660e+05 -1.065544e+06
25   Feb-2012   1.170593e+06  1.926159e+06
26   Mar-2012   2.527880e+05 -9.178050e+05
27   Apr-2012   1.151518e+06  8.987300e+05
28   May-2012   8.172560e+05 -3.342620e+05
29   Jun-2012   5.707570e+05 -2.464990e+05
..        ...            ...           ...
57   Oct-2014   9.473330e+05 -2.193100e+05
58   Nov-2014   5.786680e+05 -3.686650e+05
59   Dec-2014   9.885050e+05  4.098370e+05
60   Jan-2015   1.139715e+06  1.512100e+05
61   Feb-2015   1.029471e+06 -1.102440e+05
62   Mar-2015   6.875330e+05 -3.419380e+05
63   Apr-2015  -5.246260e+05 -1.212159e+06
64   May-2015   1.586200e+05  6.832460e+05
65   Jun-2015   8.779500e+04 -7.082500e+04
66   Jul-2015   4.233890e+05  3.355940e+05
67   Aug-2015   8.407230e+05  4.173340e+05
68   Sep-2015   5.685290e+05 -2.721940e+05
69   Oct-2015   3.320670e+05 -2.364620e+05
70   Nov-2015   9.894990e+05  6.574320e+05
71   Dec-2015   7.782370e+05 -2.112620e+05
72   Jan-2016   6.500000e+05 -1.282370e+05
73   Feb-2016  -1.100387e+06 -1.750387e+06
74   Mar-2016  -1.749460e+05  9.254410e+05
75   Apr-2016   7.571430e+05  9.320890e+05
76   May-2016   4.457090e+05 -3.114340e+05
77   Jun-2016   7.129610e+05  2.672520e+05
78   Jul-2016  -1.163797e+06 -1.876758e+06
79   Aug-2016   5.698990e+05  1.733696e+06
80   Sep-2016   7.684500e+05  1.985510e+05
81   Oct-2016   1.026850e+05 -6.657650e+05
82   Nov-2016   7.959140e+05  6.932290e+05
83   Dec-2016   6.098800e+04 -7.349260e+05
84   Jan-2017   1.382300e+05  7.724200e+04
85   Feb-2017   6.710990e+05  5.328690e+05
avg       NaN   4.463090e+05 -2.247900e+05

[87 rows x 3 columns]

In [37]:
Gi_Date = inp_budget_df.loc[budget_df["AmtChange"] == GreatestIncrease]
Gd_Date = inp_budget_df.loc[budget_df["AmtChange"] == GreatestDecrease]

In [41]:
Gi_Date = budget_df.sort_values('Profit/Losses').tail(1).Date
Gd_Date = budget_df.sort_values('Profit/Losses').head(1).Date

In [42]:
print("Total Months: %s" %(month_counts))
print("Total: %s" %(net_profit))
print("Greatest Increase in Profits: %s %s" %(Gi_Date.to_string(index=False), GreatestIncrease))
print("Greatest Decrease in Profits: %s %s" %(Gd_Date.to_string(index=False), GreatestDecrease))

Total Months: 86
Total: 38382578
Greatest Increase in Profits: Feb-2012 1170593.0
Greatest Decrease in Profits: Sep-2013 -1196225.0

In [45]:
average_change = budget_df['AmtChange'].mean()
average_change

-4902.034342888048

In [16]:
import pandas as pd
# Create a reference the CSV file desired
csv_path = "budget_data.csv"
file_to_output = "budget_analysis.txt"
# Read the CSV into a Pandas DataFrame
budget_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
budget_df.head()

# Count how many months
month_counts = budget_df["Date"].count()
month_counts

net_profit = budget_df['Profit/Losses'].sum()
net_profit

average_change = net_profit / month_counts
average_change

budget_df['Profit/Losses'].min()



AmtChange = budget_df["Profit/Losses"].diff()

GreatestIncrease = budget_df["Profit/Losses"].max()
GreatestDecrease = budget_df["Profit/Losses"].min()
AmtChange.head()

inp_budget_df = pd.DataFrame(budget_df)
inp_budget_df

Gi_Date = budget_df.sort_values('Profit/Losses').tail(1).Date
Gd_Date = budget_df.sort_values('Profit/Losses').head(1).Date

print("Total Months: %s" %(month_counts))
print("Total: %s" %(net_profit))
print("Greatest Increase in Profits: %s %s" %(Gi_Date.to_string(index=False), GreatestIncrease))
print("Greatest Decrease in Profits: %s %s" %(Gd_Date.to_string(index=False), GreatestDecrease))

with open(file_to_output, "w") as txt_file:
    
    txt_file.write("Budget Results")
    txt_file.write("-------------------------")
    txt_file.write(f"Total Profit:  {net_profit}")
    txt_file.write("-------------------------")
    txt_file.write(f"Greatest Increase in Profits: {Gi_Date}")
    txt_file.write("-------------------------")
    txt_file.write(f"Greatest Decrease in Profits: {Gd_Date}")               
    txt_file.write("-------------------------")

Total Months: 86
Total: 38382578
Greatest Increase in Profits: Feb-2012 1170593
Greatest Decrease in Profits: Sep-2013 -1196225